ul li + li,
ol li + li {
    margin-top: 0.5em;
}
ul li li + li,
ol li li + li {
    margin-top: 0.25em;
}
p, .rst-content .section ol, .rst-content .section ul {
    margin-bottom: 0.75em;
}
h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
h4 {
    margin-top: 0.75em;
    margin-bottom: 0.35em;
}
.logo--home {
    float: right;
    margin: 0 0 1em 1em;
    width: 4em;
}
@media (min-width: 40em) {
    .logo--home {
        width: 8em;
        margin: margin: 0 0 2em 2em;
    }
}
.logo--overview {
    float: right;
    margin: 0 0 2em 2em;
    width: 4em;
}
.wy-breadcrumbs-aside.wy-breadcrumbs-aside {
    display: none;
}
/* li */.toctree-l2.toctree-l2.toctree-l2 a {
    padding-left: 1.627em;
}
/* a */.toctree-l3.toctree-l3.toctree-l3 {
    padding-left: 3em;
    font-size: 0.85em;
    line-height: 1.15;
}
/* img */.overview-diagram.overview-diagram {
    max-width: 35em;
    display: block;
}

.l-push-ends {
    margin-top: 2em;
    margin-bottom: 2em;
}
.l-push-ends--large {
    margin-top: 5em;
    margin-bottom: 5em;
}
.l-push-bottom {
    margin-bottom: 2em;
}
.l-push-bottom--large {
    margin-bottom: 5em;
}

:target {
    background: yellow;
}
